<!-- About Block Section -->
<section id="aboutblock" class="container content-section text-center">
	<div class="row">
		<div class="col-sm-6">
			<a href="{{ "#about" | relative_url }}"><img src="{{ "img/about.png" | relative_url }}" class="img-responsive center-block d-block mx-auto" alt="about"></a>
		</div>
		<div class="col-sm-6 mmargin30">
			<a href="https://pressingissues.substack.com/" target="_blank" rel="noopener"><img src="{{ "img/My-Notes.png" | relative_url }}" class="img-responsive center-block d-block mx-auto" alt="my notes"></a>
		</div>
	</div>
	<div class="row margin30">
		<div class="col-sm-6">
			<a href="{{ "/Dustin-Mooney-Resume.pdf" | relative_url }}" target="_blank"><img src="{{ "img/The-Resume.png" | relative_url }}" class="img-responsive center-block d-block mx-auto" alt="The Resume"></a>
		</div>
		<div class="col-sm-6 mmargin30">
			<a href="https://www.linkedin.com/in/dustinmooney/" target="_blank"><img src="{{ "img/work.png" | relative_url }}" class="img-responsive center-block d-block mx-auto" alt="my work"></a>
		</div>
	</div>
</section>
