    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Dustin</h2>
                <p>Dustin works in client experience, marketing, and communications. He has a background in politics working for a variety of candidates and non-profits. In his free time he enjoyes time with family, playing chess and golf, watching movies, and rock climbing.</p>
                <p>Graduating from the <a href="http://ucf.edu/">University of Central Florida</a> with a degree in Political Science. He especially enjoyed studying intelligence, political economy, and creative writing. He also attended <a href="http://bmchs.com/">Bishop McLaughlin Catholic</a> for high school.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            </div>
        </div>
    </section>
