    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section" style="background: url({{ "/img/downloads-bg.jpg" | relative_url }}) no-repeat center center scroll;">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>The Pressing Issues</h1>
                    <p><bold>Subscribe now for the latest editions of The Pressing Issues. I provide near-weekly commentary and opinions on the pressing issues of the day. You can subscribe for occasional free content or pay for premium membership.</bold></p>
                    <a href="https://pressingissues.substack.com/" class="btn btn-default btn-lg">Subscribe Now</a>
                </div>
            </div>
        </div>
    </section>
