    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Misguided Moments</h2>
                    <p><bold>Subscribe now for the latest editions of Misguided Moments. I provide near-weekly commentary and opinions on the pressing issues of the day. You can subscribe for occasional free content or choose to pay for full-access to all my observations.</bold></p>
                    <a href="https://www.google.com" class="btn btn-default btn-lg" target="_blank">Subscribe Now</a>
                </div>
            </div>
        </div>
    </section>
