	<!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | relative_url }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | relative_url }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | relative_url }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | relative_url }}"></script>

	<script src="{{ "/js/jquery.instagramFeed.min.js" | relative_url }}"></script>

	<!-- Cloudflare Web Analytics -->
	<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1573b5864a194d14a1d4eee4219725f1"}'></script>
	<!-- End Cloudflare Web Analytics -->