<!-- Meaning Section -->
<section id="meaning" class="content-section text-center">
	<div class="meaning-section" style="background: url({{ "/img/dustin.jpg" | relative_url }}) no-repeat center center scroll;">
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>valiant</h1>
				<h2>\ ˈval-yənt \</h2>
				<p>possessing or showing courage or determination</p>
				<a href="https://en.wikipedia.org/wiki/Dustin_(name)" target="_blank">MEANING</a>
			</div>
		</div>
	</div>
</section>