<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i> MENU
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">
				<img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" class="img-fluid logo">
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li>
					<a class="page-scroll" href="#about">About</a>
				</li>
				<li>
					<a class="page-scroll" href="#download" target="_blank">Commentary</a>
				</li>
				<li>
					<a class="" href="https://www.linkedin.com/in/dustinmooney/" target="_blank">Work</a>
				</li>
				<li>
					<a class="" href="{{ "/Dustin-Mooney-Resume.pdf" | relative_url }}" target="_blank">Resume</a>
				</li>
				<li>
					<a class="page-scroll" href="#contact">Contact</a>
				</li>
				<li class="nav-item ml-5">
					<a href="https://www.linkedin.com/in/dustinmooney/" class="nav-link" target="_blank"><i class="fab fa-linkedin"></i></a>
				</li>
				<li class="nav-item">
					<a href="https://twitter.com/DustinMooney" class="nav-link" target="_blank"><i class="fab fa-twitter"></i></a>
				</li>
				<li class="nav-item">
					<a href="mailto:hello@dustinmooney.com" class="nav-link" target="_blank"><i class="fa fa-envelope"></i></a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>